/*
  Student Name:  Manakan, Sai Kumar
  ID: 1001236131
  Email: saikumar.manakan@mavs.uta.edu
  Project Name: PHP Scripting with Relational Database
  Due date: Nov 23 2016
*/

@CHARSET "ISO-8859-1";

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana,
		sans-serif !important;
	font-size: 12px;
	font-weight: normal !important;
	height: 100%;
	min-height: 100%;
	background-color:#E0E0E0
}

#header {
	height: 26%;
	width: 100%;
	background: #499bea;
	background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%);
	background: -webkit-linear-gradient(top, #499bea 0%, #207ce5 100%);
	background: linear-gradient(to bottom, #499bea 0%, #207ce5 100%);
}

#logoContainer {
	margin-left: 16px;
	height: 73%;
	font-size: 70px;
	color: #FFF;
	padding: 10px;
	/* font-family: 'Amethysta', serif; */
}

#logo {
	text-shadow: 1px 1px grey;
	cursor: pointer;
}

/* Page2.php */

#searchText{
  margin-right: 15px;
  width: 500px;
  height: 35px;
  border-radius: 10px;
  font-size: 24px;
	outline: none;
	border: 1px solid #DDDDDD;
	-webkit-transition: border 0.30s ease-in-out;
	-moz-transition: border 0.30s ease-in-out;
	-ms-transition: border 0.30s ease-in-out;
	-o-transition: border 0.30s ease-in-out;
}

#searchText:focus{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	margin-right: 15px;
	border: 1px solid rgba(81, 203, 238, 1);
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.searchBtns{
  margin-top: 20px;
}

#searchBtnAuthor, #searchBtnTitle, #shoppingBasketBtn{
  cursor: pointer;
  width: 130px;
  height: 30px;
  margin-right: 10px;
}

#bookList{
	margin: auto;
	width: 50%;
}

#booksTable{
	width: 100%;
}


/* Page3.php */

#fileList{
	margin: 20px;
}

/* Page4.php */

#registerContainer{
	margin: auto;
	width: 40%;
	background-color: #FFF;
	height: 100%;
	min-height: 500px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}

.rInput{
	width: 99%;
}

/* Page 3 */

#shoppingBasketList{
	margin: auto;
	width: 50%;
	margin-top: 40px;
}

#shoppingbasketTable{
	border:1px solid;
	border-collapse: collapse;
	width: 100%;
    font-size: 14px;
    margin-top: 10px;
    border-spacing: 0.5rem;
}


#shoppingbasketTable tbody tr:nth-child(even){
	background-color: white;
}

#shoppingbasketTable tbody tr:nth-child(odd){
	background-color: lightgray;
}


#shoppingbasketTable thead tr{
	background-color: #0b1930;
	color:white;
}


#shoppingbasketTable td{
	height: 30px;
}

#shoppingbasketTable th{
	height: 30px;
	text-align: left;
}

#buyBtnDiv{
	margin: auto;
    width: 36%;
    margin-top: 20px;
}
.buyButton {
	display: inline-block;
	color: #FFF;
    text-align: center;
    height: 25px;
    width: 110px;
    font-size: 14px;
    background-color: #2E6CD8;
    padding: 5px 0px 0px 0px;
    -moz-border-radius: 10px 8px;
    -webkit-border-radius: 3px 17px;
    cursor: pointer;
    margin-left: 5px;
}