/*
  Student Name:  Manakan, Sai Kumar
  ID: 1001236131
  Email: saikumar.manakan@mavs.uta.edu
  Project Name: Database-Driven Web Pages
  Due date: Nov 20 2016
*/

/* Default.php */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
    padding-bottom: 90px;
}

.col-md-3 {
  width: 20%;
}

.col-md-3 h2{
  font-size: 28px;
}

/* Part01_ArtistsDataList.php */

.artistsList {
  margin-top: 15px;
}

/* Par02_SingleArtwork.php */

.description {
  text-align: justify;
}

.description::first-letter{
  font-size: 130%;
}
.artistTable {
  margin-top: 20px;
}

.topBox {
  border: solid 1px lightgray;
  height: 235px;
  width: 22%;
  font-size: 12px;
  margin-left: 23px;
  border-radius: 5px;
}

.linkBox {
  margin-bottom: 12px;
}

.buttonBox {
  margin-bottom: 12px;
}

.btn {
  font-size: 12px;
  margin-left: 5px;
}

.white {
  color: #fff;
}

.icon-flipped{
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

/* Part03_SingleWork.php */

.optButton {
  color: #428bca;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0px;
}

#artWorktTable{
  margin-top: 20px;
  border: 1px solid #ddd;
}

#artWorktTable th {
  font-weight: bold;
  border-top:1px solid #ddd;
}

#artWorktTable td {
  border-top:1px solid #ddd;
}

#salesTable td, #salesTable th {
  border: none;
}

#salesTable th{
  color: #428bca;
}

#salesTable.table {
    border: 2px solid #d9edf7;
    border-collapse:inherit;
}

.icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.img-handle{
  cursor: pointer;
}

/* Part04_Search.php */

.titleHeader {
  margin-top: 0px;
}

.thumbnailx {
  padding: 0;
  border: none;
}

mark {
  background: yellow;
}
